<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666285903684-in49ndhmkj2mdal31veh761114l4m9ht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666285903684-in49ndhmkj2mdal31veh761114l4m9ht</string>
	<key>API_KEY</key>
	<string>AIzaSyDVYef_gC_WYey7sLX9RZ34NsZrWgYOvrM</string>
	<key>GCM_SENDER_ID</key>
	<string>666285903684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bradleyyin.TravelBook</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-aa7c0</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-aa7c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666285903684:ios:53b9fb199ce3f9625e5111</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chat-aa7c0.firebaseio.com</string>
</dict>
</plist>